@font-face {
  font-family: "Cardo";
  src: url(../fonts/Cardo-RegularItalic.ttf);
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Raleway-Bold";
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "Raleway-Light";
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: "Raleway-Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "WebdingsRegular";
  src: url(../fonts/WebdingsRegular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Raleway-Regular", sans-serif;
  scroll-behavior: smooth;
}

.content__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header {
  background: url(../img/bg.jpg) no-repeat center top / cover;
  max-height: 750px;
  height: 100vh;
}

.logo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #505369;
}

.navigation {
  width: 100%;
}

.navigation__items {
  display: flex;
  justify-content: flex-end;
  color: #cbccd3;
}

.menu__item a {
  color: #cbccd3;
  text-decoration: none;
  font-family: "Raleway-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.0625rem;
  transition: color ease 0.5s;
}

.menu__item {
  padding-right: 60px;
}

.menu__item:last-child {
  padding-right: 0;
}


.menu__item a:hover {
  color: #e84545;
}

.header__content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.header__text__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
}

.header__title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 4.0625rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: #fff;
}

.header__text {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.375rem;
  line-height: 1.6;
  color: #f1f1f3;
  margin: 43px 0 83px 0;
}

.btn {
  border: none;
  text-decoration: none;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  background-color: #e84545;
  color: #fff;
  padding: 20px 50px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.btn:hover {
  background-color: #c42d2d;
}

.features__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 75px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  align-items: center;
  text-align: center;
  padding: 45px;
}

.card__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 34px 0 26px 0;
}

.card__text {
  font-size: 0.875rem;
  color: #80858b;
  line-height: 1.5;
}

.works__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
}

.work__photo {
  width: 468px;
  height: 349px;
  position: relative;
  flex-basis: 25%;
  border-bottom: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
}

.work__photo:nth-child(4n + 4) {
  border-right: none;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 1.6;
  background-color: #e84545;
  width: 100%;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  transition: opacity ease 0.2s;
}

.caption__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.caption__text {
  font-size: 0.875rem;
}

.work__photo:hover > .caption {
  opacity: 0.9;
}

.work__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our__team {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  width: 100%;
}

.gender__name {
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 1.375rem;
  padding: 30px 0 16px 0;
}

.card__gender {
  width: 23%;
  display: flex;
  flex-direction: column;
}

.card__gender span {
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #e84545;
}

.social__media__wrapper {
  display: flex;
}

.social__media {
  font-size: 1.5rem;
  color: #c6cacc;
  width: 40px;
  height: 40px;
  border: 1px solid #c6cacc;
  text-align: center;
  line-height: 40px;
  margin-right: 4px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.social__media:hover {
  color: #e84545;
  border: 1px solid #e84545;
}

.social__media:last-child {
  margin-right: 0;
}

.gender__text {
  font-size: 0.875rem;
  padding-top: 30px;
  line-height: 1.5;
  padding-bottom: 30px;
}

.clients__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.comment {
  background-color: #53354a;
  width: 50%;
}

.comments__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 85%;
  color: #fff;
  padding-left: 85px;
}

.clients__photo {
  width: 50%;
  background-color: #53354a;
}

.clients__photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.clients {
  padding-top: 100px;
}

.clients__comment {
  font-family: "Cardo", serif;
  font-size: 2.25rem;
  line-height: 1.2;
  padding-bottom: 37px;
}

.client__name {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.slider__pages {
  padding-top: 64px;
  display: flex;
  justify-content: center;
}

.circle {
  background-color: #755d6e;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color ease 0.2s;
}

.circle:hover {
  background-color: #fff;
}

.circle:last-child {
  margin-right: 0px;
}

.download {
  display: flex;
  align-items: center;
}

.download__wrapper {
  text-align: center;
  line-height: 1.8;
  padding: 100px 0;
}

.download__title {
  font-family: "Raleway-Light", sans-serif;
  font-size: 1.75rem;
}

.download__text {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.download__btn {
  padding: 20px 83px;
  margin: 40px 0 0 0;
}

.footer {
  background-color: #3a3e64;
}

.footer__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
  width: 100%;
  padding: 87px 0;
}

.location {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 0.875rem;
  color: #9092a7;
  width: 33.3333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location p {
  padding-top: 15px;
  line-height: 1.7;
}

.location__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
}

.footer__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.3333%;
  height: 100%;
}

.icon__wrapper {
  display: flex;
  justify-content: center;
}

.footer__icon__media {
  color: #fff;
  border: 2px solid #fff;
  margin-right: 7px;
  margin-top: 22px;
}

.footer__icon__media:hover {
  border: 2px solid #e84545;
}

.footer__icon__media:last-child {
  margin-right: 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.3333%;
  height: 100%;
}

.about__text {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 0.875rem;
  color: #9092a7;
  line-height: 1.7;
  padding-top: 15px;
}

.copyright {
  background-color: #313454;
}

.copyright__text {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  text-align: center;
  padding: 30px 0;
}

.first__part {
  font-family: "Raleway-Regular", sans-serif;
  color: #6b6c74;
  font-size: 0.875rem;
}

.heart__text {
  font-family: "WebdingsRegular";
  color: #e84545;
  font-size: 0.875rem;
}

.third__part {
  font-family: "OpenSans-Regular", sans-serif;
  color: #fff;
  font-size: 0.875rem;
}

.aside__mobile__menu {
  position: absolute;
  left: -288px;
  top: 72px;
}

.aside__btn {
  width: 41px;
  height: 28px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.aside__btn__close {
  width: 41px;
  height: 28px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.mobile__menu__btn__close {
  padding: 15px 15px 0 0;
}

#aside__menu.open {
  left: 0;
}

.aside__mobile__menu {
  transition: left 0.2s;
}

.mobile__menu__wrapper {
  background-color: #fff;
  height: calc(100vh - 72px);
  max-height: 650px;
  display: flex;
  justify-content: space-between;
  width: 288px;
  padding-left: 20px;
}

.mobile__menu__btn {
  display: none;
}

.menu__mobile__item {
  padding-top: 40px;
}

.menu__mobile__item a {
  color: #595959;
}

.nav__mobile {
  flex-direction: column;
}

.close__menu__btn {
  width: 26px;
  margin: 15px 15px 0 0;
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  .mobile__menu__btn {
    display: block;
  }

  .header__title {
    font-size: 1.875rem;
  }

  .header__text {
    font-size: 1.125rem;
  }

  .logo__header {
    border-bottom: 1px solid #838594;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 72px;
  }

  .navigation {
    width: auto;
  }

  .navigation nav {
    display: none;
  }

  .btn {
    width: 100%;
  }

  .features__wrapper {
    flex-direction: column;
    padding-top: 38px;
  }

  .card {
    width: 100%;
    padding: 0 20px 40px 20px;
  }

  .card__gender img {
    width: 100%;
  }

  .works__wrapper {
    padding-top: 0;
  }

  .work__photo {
    flex-basis: 100%;
    border-right: none;
  }

  .our__team {
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
  }

  .card__gender {
    width: 90%;
    margin-bottom: 38px;
  }

  .clients {
    padding-top: 0;
  }

  .clients__wrapper {
    flex-direction: column;
  }

  .clients__photo {
    width: 100%;
  }

  .comment {
    width: 100%;
  }

  .clients__comment {
    font-size: 1.5rem;
    padding-top: 45px;
  }

  .comments__content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }

  .slider__pages {
    padding: 40px 0 40px 0;
  }

  .download__title {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .download__text {
    padding-top: 10px;
  }

  .download__btn {
    width: 100%;
  }

  .download__wrapper {
    padding: 57px 10px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .social__media__title {
    width: 100%;
  }

  .location__title {
    font-size: 1rem;
  }

  .location,
  .social__media__wrapper,
  .about {
    width: 90%;
  }

  .location,
  .social__media__wrapper {
    margin-bottom: 57px;
  }

  .first__part,
  .header__text,
  .third__part {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  .mobile__menu__btn {
    display: block;
  }
  .header__title {
    font-size: 2.5rem;
  }

  .header__text {
    font-size: 1.5rem;
  }

  .logo__header {
    border-bottom: 1px solid #838594;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 72px;
  
  }

  .navigation nav {
    display: none;
  }

  .navigation {
    width: auto;
  }

  .card {
    padding: 0 20px 40px 20px;
  }

  .card__gender img {
    width: 100%;
  }

  .works__wrapper {
    padding-top: 0;
  }

  .work__photo {
    flex-basis: 50%;
  }

  .our__team {
    align-items: center;
    flex-wrap: wrap;
    padding-top: 38px;
  }

  .card__gender {
    width: 50%;
    margin-bottom: 38px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .clients {
    padding-top: 0;
  }

  .clients__wrapper {
    flex-direction: column;
  }

  .clients__photo {
    width: 100%;
  }

  .comment {
    width: 100%;
  }

  .clients__comment {
    font-size: 1.5rem;
    padding-top: 45px;
  }

  .comments__content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }

  .slider__pages {
    padding: 40px 0 40px 0;
  }

  .download__title {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .download__text {
    padding-top: 10px;
  }

  .download__wrapper {
    padding: 57px 0;
  }

  .social__media__title {
    width: 100%;
  }

  .location__title {
    font-size: 1rem;
  }

  .location,
  .social__media__wrapper,
  .about {
    width: 25%;
  }

  .first__part,
  .header__text,
  .third__part {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .mobile__menu__btn {
    display: none;
  }

  .logo__header {
    padding: 0px 20px;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__text {
    font-size: 1rem;
  }

  .work__photo {
    flex-basis: 50%;
  }

  .navigation {
    width: 70%;
  }

  .features__wrapper {
    padding-top: 0;
  }

  .works__wrapper {
    padding-top: 0;
  }

  .our__team {
    align-items: center;
    flex-wrap: wrap;
    padding-top: 38px;
  }

  .clients {
    padding-top: 0;
  }

  .card__gender {
    width: 50%;
    margin-bottom: 38px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card__gender img {
    width: 100%;
  }

  .clients__comment {
    font-size: 1.5rem;
    padding-top: 45px;
  }

  .slider__pages {
    padding: 40px 0 40px 0;
  }

  .location,
  .social__media__wrapper,
  .about {
    width: 25%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1100px) {
  .mobile__menu__btn {
    display: none;
  }

  .menu__item {
    padding-right: 30px;
  }

  .logo__header {
    padding: 0px 20px;
  }

  .work__photo {
    flex-basis: 50%;
  }

  .features__wrapper {
    padding-top: 0;
  }

  .works__wrapper {
    padding-top: 0;
  }

  .our__team {
    align-items: center;
    flex-wrap: wrap;
    padding-top: 38px;
  }

  .clients {
    padding-top: 0;
  }

  .card__gender {
    width: 50%;
    margin-bottom: 38px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card__gender img {
    width: 100%;
  }

  .clients__comment {
    font-size: 1.5rem;
    padding-top: 45px;
  }

  .slider__pages {
    padding: 40px 0 40px 0;
  }

  .location,
  .social__media__wrapper,
  .about {
    width: 25%;
  }
}
