* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(86, 87, 71);
}

.content__wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.company__logo {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
}

.svg__main {
  width: 100%;
  height: 100%;
}

.bg {
  fill: #ffffff;
  stroke-width: 20;
  stroke: #8a72ca;
  width: 580px;
  height: 580px;
}

.line {
  fill: #8d451f;
  width: 400px;
  height: 20px;
}

.circle {
  fill: #1e8c6f;
}

.logo__text {
  font-family: sans-serif;
  font-size: 60px;
  fill: #ffffff;
}

@media screen and (max-width: 426px) {
  .bg {
    display: none;
  }

  .line {
    width: calc(100% - 322px);
    height: 2.97px;
  }

  .top {
    transform: translateX(61px) translateY(186px);
    
  }

  .bottom {
    transform: translateX(61px) translateY(-168px);
  }

  .circle {
    stroke-width: 10px;
    stroke: #8a72ca;
  }
  
}
