.select-box {
  position: relative;
  display: block;
  width: 25%;
  font-family: var(--lato-r);
  color: var(--vac-select-text-color);
  background: var(--vac-select-bg-color);
}

.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.select-box__value {
  display: -webkit-box;
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background: var(--vac-select-bg-color);
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  top:10px;
  list-style: none;
  z-index: 5;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__list > li:first-child{
border-radius: 10px 10px 0 0;
}

.select-box__list > li:last-child{
  border-radius: 0 0 10px 10px;
}

.select-box__option {
  display: block;
  border-radius: inherit;
  padding: 15px;
  background: var(--vac-select-bg-color);
}
.select-box__option:hover, .select-box__option:focus {
  color: #1B1B25;
  background-color: #F6F6F6;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.select-box__lang{
  width: 6%;
  font-family: var(--signika-r);
  font-size: 0.75rem;
  color: var(--white);
  background: var(--header-footer-bg);
}

.select-box__input-text__lang{
  background: var(--header-footer-bg);
  padding: 0px;
}

.select-box__current__lang{
  display: flex;
  height: 100%;
  align-items: center;
}

.select-box__option__lang{
  color: var(--black);
}

.select-box__icon__lang{
  width: 15%;
  height: 15%;
}

.select-box__lang__mobile{
  width: 80%;
}

.select-box__icon__lang__mobile{
  width: 40%;
  height: 40%;
}

.select-box__list__mobile__header{
  margin-top: 0;
}

.select-box__lang__mobile__header{
  height: 100%;
  width: 100%;
}

.select-box__icon__lang__mobile__header{
  width: 15%;
}

.vacancies__nav > .select-box > .select-box__list {
  top:40px;
}