@font-face {
  font-family: 'Bunken Tech Sans Pro';
  src: url('../fonts/BunkenTechSansPro-Bold.eot');
  src: url('../fonts/BunkenTechSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BunkenTechSansPro-Bold.woff2') format('woff2'),
      url('../fonts/BunkenTechSansPro-Bold.woff') format('woff'),
      url('../fonts/BunkenTechSansPro-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff'),
      url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Bold.woff2') format('woff2'),
      url('../fonts/Lato-Bold.woff') format('woff'),
      url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff'),
      url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI.eot');
  src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SegoeUI.woff2') format('woff2'),
      url('../fonts/SegoeUI.woff') format('woff'),
      url('../fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signika Bold';
  src: url('../fonts/Signika-Bold.eot');
  src: url('../fonts/Signika-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Signika-Bold.woff2') format('woff2'),
      url('../fonts/Signika-Bold.woff') format('woff'),
      url('../fonts/Signika-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signika Regular';
  src: url('../fonts/Signika-Regular.eot');
  src: url('../fonts/Signika-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Signika-Regular.woff2') format('woff2'),
      url('../fonts/Signika-Regular.woff') format('woff'),
      url('../fonts/Signika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 