.header {
  background-color: var(--header-footer-bg);
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo, .logo__mobile {
  padding: 16px 0;
}

.logo__mobile {
  display: none;
  text-align: center;
  width: 100%;
}

.navigation__items {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: var(--nav-text-color);
  font-size: 1.125rem;
  font-family: var(--signika-r);
}

.nav__item {
  cursor: pointer;
  margin-right: 50px;
}

.nav__item > a {
  text-decoration: none;
  color: var(--nav-text-color);
}

.nav__item:hover {
  opacity: 0.7;
}

.lang__select, .mobile__lang__select {
  border-style: none;
  background-color: inherit;
  color: var(--nav-text-color);
  font-family: var(--signika-r);
  font-size: 0.75rem;
  outline: none;
  cursor: pointer;
}

.mobile__lang__select > option, .lang__select > option {
  color: #000;
}

