.mobile__menu__trigger {
  display: none;
}

.hidden__menu {
  display: block;
  position: absolute;
  padding: 30px 10px 0 10px;
  width: 200px;
  height: 100vh;
  top:50px;
  left: -200px;
  background: var(--header-footer-bg);
  transition: left .2s;
  z-index: 6;
}

.mobile__menu__btn {
  padding-top: 20px;
  cursor: pointer;
  display: none;
  z-index: 7;
}

.mobile__menu__trigger:checked ~ .hidden__menu {
  left: 0;
}

.hidden__menu > .nav__item {
  margin-bottom: 20px;
  margin-left: 20px;
}