/* VACANCIES */

.vacancies__title {
  font-family: var(--bunker);
  font-size: 2.813rem;
  text-transform: uppercase;
}

.vacancies__nav__box {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02), 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.vacancies__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  padding: 20px 0;
}

.vacancies__radio {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vacancies__radio > label {
  display: flex;
  align-items: center;
}

/* RADIO BTN STYLE */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-top: 15px;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 35%;
  left: 0;
  height: 24px;
  width: 24px;
  border: 2px solid #ff0000fa;
  border-radius: 50%;
}

/* When the radio button is checked */
.container input:checked ~ .checkmark {
  background: var(--main-style-color);
  border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 7.2px;
  left: 7.2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
/* RADIO BTN STYLE */


/* ACCORDION STYLE */
.accordion {
  display: block;
  font-size: inherit;
  margin: 0px;
  border-bottom: 1px solid var(--hr-line-color);
  border-top: 1px solid var(--hr-line-color);
}

.accordion__header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.accordion input {
  display: none;
  position: absolute;
  visibility: hidden;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.accordion__content {
  display: none;
}

.accordion__content__description {
  width: 52%;
  margin: 30px 140px 20px 38px;
}

.accordion__content__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion__content__flex {
  display: flex;
  width: 100%;
}

.accordion input:checked ~ .accordion__content {
  display: block;
  border-bottom: 2px solid var(--hr-line-active);
}


.accordion input:checked ~ .accordion__header > img {
  transform: rotate(180deg);
}

.accordion__header > span {
  font-size: 1.375rem;
  margin-left: 18px;
}

.accordion__description-title {
  font-size: 1.125rem;
  font-family: var(--roboto-b);
  margin-bottom: 13px;
}

.accordion__description-text {
  font-family: var(--lato-r);
  line-height: 1.75;
}

.accordion__contacts-phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion__wrapper {
  margin-bottom: 37px;
}



/* ACCORDION STYLE */


.phone__number {
  font-family: var(--segoe);
  text-decoration: none;
  color: var(--phone-email-text-color);
  margin-left: 10px;
}

.summary__btn__wrapper, .form__btn__wrapper {
  padding: 5px;
  border: 1px solid red;
  border-radius: var(--def-radius);
  width: 100%;
  position: relative;
  margin-top: 19px;
}

.summary__btn__wrapper::after, .form__btn__wrapper::after {
  content: '';
  display: block;
  top:23px;
  width: 170px;
  height: 28px;
  background: #940C00;
  border-radius: var(--def-radius);
  opacity: 0.5;
  position: absolute;
  filter: blur(25px);
  z-index: -1;
}

.summary__btn, .form__submit {
  font-family: var(--signika-b);
  font-size: 0.875rem;
  border-radius: var(--def-radius);
  padding: 12px 44px;
  background: var(--main-style-color);
  color: var(--white);
  border:none;
  cursor: pointer;
  z-index: 4;
  outline: none;
}

.view-vacancies__btn__wrapper {
  display: flex;
  justify-content: center;
}

.view-vacancies__btn {
  padding: 13px 22px;
  border-radius: var(--def-radius);
  border: 1px solid #FF1500;
  background: inherit;
  font-family: var(--signika-b);
  font-size: 0.875rem;
  color: var(--btn-text-color);
  margin-bottom: 65px;
}

.filter__trigger__input {
  display: none;
}

.filter__icon__trigger {
  display: none;
  background: var(--form-input-bg);
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}


.filter__items {
  position: absolute;
  top: 60px;
  width: 100%;
  display: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 5;
}

.filter__item{
  padding: 15px;
  font-family: var(--lato-r);
  background: var(--white);
}

.filter__item:hover {
  background: var(--vac-select-bg-color); ;
  color: var(--btn-text-color);
  font-family: var(--lato-b);
}

.filter__item__text{
  padding-left: 10px;
  width: 100%;
}

.filter__trigger__input:checked ~ .filter__items{
  display: block;
}

.filter__item > input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.filter__item__trigger__lable{
  display: flex;
  align-items: center;
}

.filter__item__trigger__lable::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #FF1500;
  border-radius: 7.2px;
}

.filter__check__lable:checked ~ .filter__item__trigger__lable::before {
  background: url('../img/check.svg') no-repeat center center,
              var(--main-style-color);
}

.filter__reset__wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.filter__count__container{
  display: none;
  height: 25px;
  width: 45px;
  background: var(--main-style-color);
  border-radius: 15px;
  justify-content: space-evenly;
  align-items: center;
}

.filter__count{
  font-family: var(--lato-b);
  color: var(--white);
  font-size: 1rem;
}

.filter__count__container > img {
  cursor: pointer;
}