* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.wrapper__content {
    max-width: 2130px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding-bottom: 39px;
    padding-top: 49px;
    border-bottom: 6px solid #d7d7d7;
}

.address {
    border-bottom: 6px solid #d7d7d7;
    padding: 62px 0 86px 0;
}

.sub__logo {
    width: 505px;
    height: 172px;
    position: relative;
    display: inline-block;
}

.main__title {
    display: inline-block;
    z-index: 2;
    position: absolute;
    font-size: 3.906rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 12px;
    top: 0px;
    padding-top: 12px;
}

.square {
    display: inline-block;
    width: 313px;
    height: 172px;
    background-color: #ffc600;
    position: absolute;
    top: 0px;
    left: 153px;
    z-index: 1;
}

.company__address {
    display: inline-block;
    vertical-align: top;
    padding-top: 12px;
    margin-right: 44px;
}

.text__address {
    font-size: 1.8231rem;
    font-weight: 300;
    font-style: normal;
}

.contacts__wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}

.phone__numbers {
    display: inline-block;
    font-size: 1.7193rem;
    vertical-align: top;
    text-align: center;
    width: 313px;
    height: 172px;
    background-color: #ffc600;  
}

.phone {
    vertical-align: top;
    text-decoration: none;
    color: #000;
}

.address__wrapper {
    padding: 20px 0 20px;
    vertical-align: top;   
}

.fas {
    font-size: 2.7418rem;
    padding-right: 20px;
}

.web__email {
    display: inline-block;
    font-size: 1.8506rem;
    vertical-align: top;
    
}

.letter__address {
    font-size: 2.6043rem;
    font-weight: 300;
    font-style: normal;
}

.aside {
    display: inline-block;
    width: 505px;
    vertical-align: top;
    padding-top: 279px;
}

.main {
    width: 100%;
}

.letter__persone__name {
    font-size: 2.6043rem;
    font-weight: 400;
    padding-top: 156px;
    padding-bottom: 70px;
}

.letter__text {
    display: inline-block;
    font-size: 2.6043rem;
    font-weight: 300; 
    width: 75%;
}

p {
    padding-bottom: 61px;
}

.letter__text img {
    display: block;
    padding-top: 99px;
    margin-left: -125px;
}

.footer {
    text-align: center;
    padding-top: 574px;
    padding-bottom: 37px;
}


