* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}
.form__items {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}


select, input {
	padding: 4px;
}

input {
	margin: 5px 0 5px 0;
}

input:focus {
	
}

label {
	margin: 6px 5px 2px 0;
}

.main__title {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;	
	font-size: 32px;
	font-weight: bold;
}

.submit {
	padding: 7px;
	cursor: pointer;
}

