@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/Myriad-Pro-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Myriad Pro', sans-serif;
}

.content__wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 89px;
}

.logo {
    display: inline-block;
   
}

.logo__icon {
    background-color: #5094f2;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top:7px;
    
}

.logo__text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.75rem;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    position: absolute;
    top: 2px;
 
}

.main__title {
    font-size: 2.6468rem; 
    display: inline-block;
    line-height: 89px;
    text-align: center;
    padding-left: 15px;
    
}

.navigation {
    float: right;
  
    height: 100%;
}

.menu__items li {
    display: inline-block;
    font-size: 1.2718rem;
    padding-right: 20px;
    line-height: 86px;
    text-align: center;
}

.menu__items a {
    display: block;
    text-decoration: none;
    color: #6c6c6c;
    height: 100%;
    width: 87px;
    text-align: center;
}

.menu__items a:hover {
    border-bottom: 3px solid #5094f2;
}

.banner {
    background: url(../img/bg.jpg) no-repeat center top / cover;
    height: 490px;
}

.iphone {
    display: inline-block;
    padding-top: 38px;
    width: 50%;
}

.banner__text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    color: #fdfdfd;
    font-size: 1.6468rem;
}

.banner__main__text {
    font-size: 2.6468rem;
    padding-top: 154px;
}

.banner__text p {
    padding-top: 25px;
}

.sing__up__btn {
    font-size: 1.3968rem;
    background-color: #5094f2;
    border: none;
    color: #fff;
    text-align: center;
     margin-top: 41px;
    cursor: pointer;
    border-radius: 2px; 
    padding: 10px 20px; 
}

.sing__up__btn:hover {
    background-color: #4581d4;
}

.sing__up__btn img {
    line-height: 23px;
    vertical-align: middle;
   
}

.btn__title {
    vertical-align: top;
    line-height: 23px;
    vertical-align: middle;
    display: inline-block;
}

.round__blue {
    border-radius: 50%;
    background-color: #5094f2;
}

.cards {
    padding-top: 57px;
    width: 100%;
}

.card__logo {
    display: inline-block;
    height: 186px;
    width: 186px;
    border-radius: 50%;
    background-color: #5094f2;
    text-align: center;
    padding-top: 39px;
}

.card__wrapper {
    width: 33.33%;
    max-width: 341.33px ; 
    display: inline-block;
    text-align: center;
}

.cards p {
    color: #909090;
    font-size: 0.8968rem;
}

.card__title {
    font-size: 1.2718rem;
    color: #5094f2;
    padding-top: 28px;
    padding-bottom: 14px;
}

.card__sub__title {
    line-height: 1.3rem;
}

.bg_red {
    background-color: #d94748;
    padding-top: 52px;
}

.bg_yellow {
    background-color: #ebbb11;
    padding-top: 47px;
}

.pencil,
.lcd,
.basket {
    font-size: 0.8968rem;
}

.product {
    padding-bottom: 70px;
    padding-top: 96px;
}

.cart {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.cart__title__main {
    font-size: 2.6468rem;
    color: #6f7173;
    padding-bottom: 44px;
}

.cart__text {
    display: inline-block;
    width: 455px;
    vertical-align: top;
    padding-top: 60px;
    width: 50%;  
}

.cart__text p {
    font-size: 0.9593rem;
    color: #6f7173;
    line-height: 2.2;
}

.cart__title {
    font-size: 1.6468rem;
    color: #6f7173;
    padding-bottom: 35px;
}

.footer {
    text-align: center;
    font-size: 0.9593rem;
    padding: 34px 0 45px 0;
    color: #909090;
    border-top: 1px solid #e5e5e5;
}

