* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}


.content {
    max-width: 960px;
    margin: 0 auto; 
    padding: 5px;
}

.wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header {
    background-color: #004282;
    margin-bottom: 20px;
}

.logo {
    width: 25%;
}

.main__title {
    color: #fff;
    text-transform: uppercase;
    text-align: end;
}

.main__title h1 {
    font-size: 1.4rem;
    padding-bottom: 5px;
}

.home__work__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.home-work-list {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}

.home-work-item {
    background-color: rgb(14, 193, 238);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
    position: relative;
    font-weight: 700;
    padding-bottom: 10px;

}

.home-work-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.719);
    color: rgb(77, 252, 120);
}

.list__img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 5px;
}

.number {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.3rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.747);
    padding: 4px 6px;
    border-radius: 0 0 10px 0;
}

@media only screen and (max-width: 744px) {
    .home-work-list {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .main__title  {
        font-size: 0.87rem;
    }

    .main__title h1 {
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width: 425px) {
    .main__title  {
        font-size: 0.87rem;
    }

    .main__title h1 {
        font-size: 1.2rem; 
    }

    .logo {
        width: 32%;
    }


}

@media only screen and (max-width: 320px) {
    .main__title  {
        font-size: 0.5rem;
    }

    .main__title h1 {
        font-size: 0.87rem; 
    }

}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .main__title  {
        font-size: 0.5rem;
    }

    .main__title h1 {
        font-size: 0.87rem; 
    }

}

@media only screen and (min-width: 425px) and (max-width: 745px) {
    .logo {
        width: 32%;
    }

}