* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #FAFF00FF;
}

img {
	width: 40%;
}

li>a {
	text-decoration: none;
	color: #FAFF00FF;
}

li>a:hover {
	color: #C3C600FF ;
}
li {
	padding-top: 10px;
}

p,h4 {
	padding-bottom: 20px;
}

p {
	text-indent: 20px;
	line-height: 1.3;
	font-size: 1.05rem;
}

h4 {
	font-weight: bold;
	font-size: 1.4rem;
	color: #FAFF00FF ;
	line-height: 1.3;
}

.background {
	background: url(../img/bg.jpg) no-repeat center top / cover;
	background-attachment: fixed;
}

.title {
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
	padding: 20px 0 20px 0;
	font-size: 3.5rem;
	font-weight: bold;
	color: #70A;
}

.container {
	display: flex;
	justify-content: center;
	max-width: 960px;
	margin: 0 auto;
}

.menu {
	width: 22%;
	background: #00000080;
	border-right: 1px solid #fff;
	border-radius: 40px 0 0 40px;
	padding-top: 30px;
}

.image {
	float: right;
}

.main {
	width: 78%;
	padding: 40px;
	border-radius:0 40px 40px 0;
	background:#00000080;
}

.menu__items {
	font-weight: bold;
	font-size: 1.1rem;
	list-style: circle;
	padding-left: 35px;
}

.sub__menu {
	padding-left: 10px;
	list-style: inside;
}

.about {
	color: #FAFF00FF;
	font-style: italic;
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}



